<!DOCTYPE>
<html x-ng-app="ticTacToeApp">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="script.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="style.css">
	
	<title>Tic Tac Toe</title>
</head>
<body x-ng-controller="TicTacToeController">
	<div id="container">
		<h1 x-ng-bind="message"></h1>
		<div id="container2" class="clearfix">
		<div id="board">
			<div class="row" x-ng-repeat="r in rows track by $index">
				<div class="cell clearfix shadow" x-ng-repeat="c in r track by $index" x-ng-click="placeXO($parent.$index, $index)"> <!-- parent index is row, index is column -->
					{{ c }}
				</div>
			</div>
		</div>
		<div id="score">
			<div class="scorecell clearfix shadow">Player X<div class="actualscore" x-ng-bind="xWins"></div></div>	
			<div class="scorecell clearfix shadow">Player O<div class="actualscore" x-ng-bind="oWins"></div></div>
		</div>
	</div>
		<input type="button" class="button clearfix" value="Play again!" x-ng-click="reset()"/>
	</div>
</body>
</html>